*.swp
*.sqlite3
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/migrations/
*/*/migrations/
*/*/*/migrations/
*/*/*/*/migrations/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/
/media/*
